spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
#         config项目在GitHub的地址和登陆GitHub的账号密码
          uri: https://github.com/SHINHEI-LIN/springconfig
          username: ShinHei-Lin
          password: linshenghai079..
  rabbitmq:
    host: 111.230.169.249
    port: 5673
eureka:
  client:
    service-url:
     defaultZone: http://localhost:8080/eureka/
management:
  endpoints:
    web:
      exposure:
        include: "*"



